<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries><intent><action android:name="android.intent.action.TTS_SERVICE" /></intent></queries>
    <application>
        <activity android:name=".ReaderActivity" android:exported="false" />
        <activity android:name=".ComicActivity" android:exported="false" />
    </application>
</manifest>
